option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

packages:
  yum:
    gcc: []
    gcc-c++: []
    make: []
    cmake: []

commands:
  01pipxgboost:
    command: "pip install --retries 10 https://<your-s3-bucket>.s3.amazonaws.com/xgboost-1.6.2-py3-none-manylinux2014_x86_64.whl"
